body{
    padding: 10px;
    background-image: image('../assets/images/plantation-tea.jpg');
    /* background-color: #79be79; */
}

.login{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #79be79;
    background-color: white;
    box-shadow: 3px 3px 3px green; 
    flex-grow: 1;
}
#submit{
    background-color: #45a045;
}
.results{
    padding: 30px;
    width: 600px;
    float: left;
}
.composants{
    width: 340px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #79be79;
    background-color: white;
    box-shadow: 3px 3px 3px green; 
    flex-grow: 1;
    margin: 20px;
    float: left;
    overflow-y: scroll;
}

.info{
    font-size: 20px;
    color: #17961c;
}


.liiiiiiste{
    padding: 200px;
    margin: 30px;
    background-color: grey;
}

.img_composant{
    width: 300px;
}

footer{
    background-color: darkgrey;
    height: 200px;
}